*{
    margin: 0;
    padding: 0;
}
/*header section start*/
.header-title{
    display: flex;
    margin-left: 250px;
}
.header-title img {
    width: 130px;
    height: 53px;
    margin-top: 20px;
}
.header-title h1 {
    font-size: 45px;
    margin-top: 20px;
    padding-left: 12px;
}

.nav-section {
    display: flex;
    height: 100px;
}
.main-menu-section {
    display: flex;
    margin-left: 450px;
}

.menu-img-section {
    display: flex;
    background-color: #E7E6E9;
    height: 58px;
    border-radius: 15px;
    width: 285px;
    margin-top: 18px;
}
.menu-img-section h3{
    margin-left: 15px;

}
.menu-sec ul {
    list-style: none;
    display: flex;
    padding-left: 25px;
    margin-top: 18px;
}
.menu-sec li {
    padding-left: 30px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    padding-right: 10px;
}

.menu-img-section h3 {
    text-align: center;
    padding-top: 19px;
    padding-left: 5px;
}
.menu-img-section img {
    width: 48px;
    display: inline;
    height: 48px;
    padding-left: 15px;
    padding-top: 6px;
}

.banner {
    background-image: url(../images/Group14.png);
    width: 100%;
    height: 675px;
    background-repeat: no-repeat;
    display: flex;
}
.banner-left {
    width: 50%;
    padding: 148px 275px;
}
h2{
    font-size: 45px;
    font-weight: 700;
}
h1 {
    font-size: 75px;
    font-weight: 700;
    color: deeppink;
}
.banner-des ,p{
    font-size: 22px;
    margin-bottom: 10px;
}
.banner-right img {
    margin-right: 185px;
    margin-top: -5px;
}
.sign-button {
    padding: 17px 39px;
    background-color: #FF42A5;
    border-radius: 30px;
    border: 0;
    font-size: 28px;
    font-weight: 700;
}
.click-button{
    padding: 17px 39px;
    background-color: rgb(25, 203, 235);
    border-radius: 30px;
    border: 0;
    font-size: 28px;
    font-weight: 700;
}
/*gamer section start*/
.gamer{
    display: flex;
    background-color: #FFF9FC;
    margin-bottom: 50px;
}
.gamer-pic{
    width: 50%;
}
.gamer-pic img {
    width: 85%;
    margin-left: 118px;
    margin-top: 35px;
}
.gamer-content {
    width: 50%;
    margin-right: 145px;
    margin-top: 85px;
}
.gamer-title h1 {
    text-align: end;
    font-size: 85px;
}
.gamer-des p {
    text-align: end;
    margin-left: 217px;
}
.gamer-des h3 {
    text-align: end;
    margin-left: 217px;
    font-size: 35px;
}
.know-more-button {
    padding: 14px 35px;
    background-color: rgb(236, 98, 17);
    border-radius: 14px;
    border: 0;
    font-size: 22px;
    margin-left: 695px;
}

/*gamer section end*/

/*funny section start*/

.funny-content {
    text-align: center;
    padding-bottom: 30px;
}
.funny-title{
    font-size: 45px;
    font-weight: 700;
}
.funny-title-style{
    color: #FF42A5;
}
.video-content {
    display: flex;
    margin-left: 165px;
    margin-right: 85px;
}
/*funny section end*/

/*play section start*/

.play {
    display: flex;
    background-color: #ffffff;
    padding-top: 85px;
    margin-top: 45px;
    padding-bottom: 50px;
}
.play-content {
    width: 50%;
    margin-left: 130px;
    margin-top: 150px;
}
.play-des {
    margin-right: 267px;
    margin-left: 250px;
    text-align: end;
}
.play-title h1{
    text-align: center;
}
.play-title h2{
    text-align: center;
}
.play-pic img {
    width: 465px;
    height: 475px;
}
.small-pic img {
    margin-left: -600px;
    margin-top: 245px;
    width: 253px;
}

/*game section start*/
.game {
    display: flex;
    background-color: #ffffff;
    margin-bottom: 150px;
    padding-top: 85px;
    margin-top: 45px;
}

.game-content {
    width: 50%;
    margin-left: 154px;
    margin-right: 231px;
    margin-top: 86px;
}
.game-title h1{
    font-size: 70px;
}

.game-title-style{
    color: black
}

.game-des {
    margin-right: 120px;
    text-align: justify;
}

.game-pic img {
    width: 465px;
    height: 475px;
    margin-left: 375px;
}
.game-small-pic img {
    margin-left: -150px;
    margin-top: 245px;
    width: 253px;
}

/*carrer section start*/

.carrer-section {
    background-color: #FF42A5;
    width: 100%;
    height: 800px;
    background-image: url(../images/Group65.png);
    background-repeat: no-repeat;
    background-position-x: right;
    
}
.carrer-item{
    display: flex;
}
.carrer-main{
    width: 50%;
}
.carrer-des {
    margin-left: 250px;
    padding-top: 136px;
}
.carrer-des h2{
    color: #ffffff;
    padding-bottom: 10px;
}
.carrer-des p {
    color: #ffffff;
    padding-bottom: 10px;
    text-align: justify;
    margin-right: 55px;
}
.carrer-item {
    display: flex;
    justify-content: space-between;
    margin-left: 258px;
    margin-right: 158px;
    font-size: 22px;
}
.list-left ul {
    color: #ffffff;
    font-size: 25px;
    list-style: none;
    line-height: 35px;
    font-weight: 600;
}
.list-right ul {
    color: #ffffff;
    font-size: 25px;
    list-style: none;
    line-height: 35px;
    font-weight: 600;
}
.positions-button {
    padding: 22px 42px;
    background-color: rgb(252, 250, 250);
    border-radius: 28px;
    border: 0;
    font-size: 22px;
    margin-left: 255px;
    margin-top: 50px;
}
.action-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF9FC;
    padding-left: 210px;
    padding-bottom: 125px;
    padding-top: 125px;
}

.box-1 {
    display: flex;
    background-color:white;
    width: 285px;
    border-radius: 19px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 43px;
    margin-top: 25px;
}
.box-1 p{
    color: black;
    font-weight: 700;
    margin-left: 10px;

}

.box-1:hover{
    background-color: aqua;
    border-color: black;
     border: 2px solid tomato;
}


.footer-section{
    background-color: rgb(37, 37, 131);
    width: 100%;
    height: 580px;
}

.footer-title {
    display: flex;
    justify-content: center;
    margin: 25px 35px;
    margin-left: 615px;
    margin-right: 595px;
    font-size: 20px;
    padding-top: 150px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 446px;
    margin-right: 425px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-bottom: 35px;
}
.logo-section {
    margin-left: 795px;
}
.logo-section img {
    width: 50px;
    padding-left: 35px;
}

.foot-menu ul {
    display: flex;
    margin: 31px 609px 40px 552px;
    justify-content: space-between;
    font-size: 54px;
    list-style: none;
}
.foot-menu li{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.copy{
    text-align: center;
}